#First Method:

In this we use count vectorizer method from sklearn library.

In [0]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB

In [0]:
file_id = '11CsLTQRaV7QusmP2k7x55uXQsdrLV1ky' #https://drive.google.com/open?id=11CsLTQRaV7QusmP2k7x55uXQsdrLV1ky
downloaded = drive.CreateFile({'id': file_id})
print('Downloaded content "{}"'.format(downloaded.GetContentString()))

In [0]:
downloaded.GetContentFile('spamclassifier.txt')

In [0]:
df=pd.read_csv('spamclassifier.txt',sep='\t',names=['Status','Message'])

In [34]:
df.head()

  Status                                            Message
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [0]:

df.loc[df["Status"] == 'ham',"Status",] = 1
df.loc[df["Status"] == 'spam',"Status",] = 0

In [36]:
df.head()

  Status                                            Message
0      1  Go until jurong point, crazy.. Available only ...
1      1                      Ok lar... Joking wif u oni...
2      0  Free entry in 2 a wkly comp to win FA Cup fina...
3      1  U dun say so early hor... U c already then say...
4      1  Nah I don't think he goes to usf, he lives aro...

In [0]:
df_x = df['Message']
df_y = df['Status']
cv = CountVectorizer()

In [0]:
x_train, x_test, y_train, y_test = train_test_split(df_x, df_y, test_size = 0.25, random_state = 4)

In [56]:
x_train.head()

2396               Babe, I'm back ... Come back to me ...
2591    Lol I have to take it. member how I said my au...
2725                                  Nope... C Ã¼ then...
3418               But i haf enuff space got like 4 mb...
3210    Havent mus ask if u can 1st wat. Of meet 4 lun...
Name: Message, dtype: object

In [0]:
x_train_new = (cv.transform(x_train)).toarray() 
x_test_new = (cv.transform(x_test)).toarray()

In [74]:
print(df.shape)
print(x_train_new.shape)
print(x_test_new.shape)

(5572, 2)
(4179, 4030)
(1393, 4030)

In [78]:
cv.inverse_transform(x_train_new[0])

[array(['babe', 'back', 'come', 'me', 'to'], dtype='<U34')]

In [85]:
x_train_new[0]

array([0, 0, 0, ..., 0, 0, 0])

In [0]:
mnb = MultinomialNB()

In [63]:
mnb.fit(x_train_new, y_train.astype('int'))

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [0]:
predictions = mnb.predict(x_test_new)

In [0]:
count = 0
pred = np.array(predictions)
actual = np.array(y_test.astype('int'))
for pr, act in zip(pred, actual):
  if pr == act:
    count += 1

In [0]:
acc = (count/len(pred))*100

In [79]:
print("accuracy of my first model is: ", acc)

accuracy of my first model is:  97.63101220387652

#Second Method:

In this we use **TF-IDF** method. This is easily available in **SKLearns ' s feature_extraction.text**  module.

TF - IDF stands for Term Frequency - Inverse Document Frequency.

frequency of a term = term_frequency / document frequency

In [0]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [0]:
tfidf = TfidfVectorizer()

X_train_new = (tfidf.fit_transform(x_train)).toarray()
X_test_new = (tfidf.transform(x_test)).toarray()

In [87]:
tfidf.inverse_transform(X_train_new[0])

[array(['babe', 'back', 'come', 'me', 'to'], dtype='<U27')]

In [88]:
X_train_new[0]

array([0., 0., 0., ..., 0., 0., 0.])

In [0]:
mnb_new = MultinomialNB()

In [93]:
mnb_new.fit(X_train_new, y_train.astype('int'))

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [0]:
pred = mnb_new.predict(X_test_new)

In [0]:
count = 0
for a,b in zip(pred, y_test):
  if a==b:
    count += 1

In [0]:
acc_new = (count/len(pred))*100

In [97]:
print("accuracy of my second model is: ", acc_new)

accuracy of my second model is:  95.19023689877962